/* VideoBackground.css */
.video-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-background .content {
  width: 24rem;
  transform: translate(-0%, -0%);
  text-align: center;
  color: #fff; /* Adjust text color */
}

@media (min-width: 1024px) {
  .video-background .content {
    width: 24rem;
  }
}
/* 
//95
//50 */
